<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPreguntaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:35798/PreguntaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPreguntaService"
                contract="PreguntaWS.IPreguntaService" name="BasicHttpBinding_IPreguntaService" />
        </client>
    </system.serviceModel>
</configuration>